body {
  font-family: 'Roboto', sans-serif;
  height: calc(100vh - 10px);
  border-bottom: 10px solid #10acb4;
}

.wrapper {
  display: flex;
  position: relative;
}

.turntable-elements {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  .dificulty-container {
    .round-counter {
      font-size: 55px;
      margin-left: 17%;
      margin-bottom: -13px;
    }
    .clues {
      display: flex;
      align-items: center;
      .title-clue {
        font-size: 30px;
        margin-left: 17%;
      }
      .visible {
        color: black;
        font-size: 30px;
        margin-left: 20px;
      }
    }
    span {
      color: lightgray;
      font-weight: 300;
    }
    .turntable-mini {
      img {
        margin-top: -20px;
        width: 100px;
        height: 100px;
        transform: rotate(45deg);
        transform-origin: bottom left;
      }
    }
  }
  .turntable-container {
    display: flex;
    cursor: pointer;
    &.active {
      .main-arm {
        img {
          transform: rotateZ(29deg);
        }
      }
      .main-turntable {
        img {
          animation: 3s rotate linear infinite;
          animation-delay: 0.4s;
        }
      }
    }
    .main-turntable {
      position: relative;
      img {
        width: 600px;
      }
      .play-icon {
        position: absolute;
        top: 245px;
        right: 232px;
        width: 100px;
      }
    }
    .main-arm {
      margin-top: 60px;
      position: relative;
      cursor: pointer;
      img {
        transform-origin: 80px 40px;
        transition: 1s;
      }
    }
  }
}

.players-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh - 110px);
  margin: 50px 0;
  .score {
    color: grey;
    font-size: 34px;
  }
  .active-key {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    p {
      font-size: 25px;
    }
  }
  .player {
    padding: 8px 0;
    box-shadow: 0 0 18px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 5px;
    right: -170px;
    background: #fff;
    height: 15vh;
    opacity: 0.35;
    cursor: pointer;
    transition: 0.25s;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #8ac44a;
    border-left: 10px solid;
    &:hover {
      opacity: 0.75;
      right: -150px;
    }
    img {
      height: 80%;
      width: 5vw;
      margin: 10% 10px;
    }
    .data-player {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 10px;
      }
    }
    &.active {
      opacity: 1;
      right: -10px;
      width: 400px;
    }
  }
}
.answer-container-inactive {
  display: none;
}
.answer-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.96);
  text-align: center;
  .player {
    color: #03a9f4;
    width: 20%;
    background: white;
    box-shadow: 0 2px 4px lightgrey;
    border-radius: 5px;
    display: flex;
    margin-top: 70px;
    margin-left: 40%;
    padding: 1em;
    justify-content: space-around;
    border-left: 9px solid;
    height: 12vh;
  }
  .answer-elements {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    img {
      height: 23vh;
    }
    p {
      text-align: center;
      font-size: 46px;
      color: grey;
      margin-bottom: 10px;
    }
    .answer-input {
      width: 40%;
      border: none;
      height: 30px;
      box-shadow: 0 2px 40px lightgrey;
      margin-bottom: 30px;
      outline: none;
      font-size: 40px;
      padding: 10px 5px 14px 5px;
      color: #5c5c5c;
    }
    .title {
      display: flex;
      align-items: center;
      p {
        padding-right: 20px;
      }
      button {
        width: 150px;
        height: 50px;
        margin-top: 20px;
        border-radius: 200px;
        border: none;
        color: #fff;
        font-size: 20px;
        outline: none;
        cursor: pointer;
        background: #10acb4;
      }
    }
  }
}
#winner {
  .player {
    margin-top: 55px;
  }

  .title {
    position: absolute;
    bottom: 50%;
    right: 10%;
    button {
      color: #fff;
      padding: 1em;
      font-size: 25px;
      cursor: pointer;
      outline: none;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
