body {
  font-family: 'Roboto', sans-serif;
  border-bottom: 10px solid #10acb4;
  height: 99vh;
}
.wrapper {
  display: flex;
  position: relative;
}
.turntable-elements {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  .dificulty-container {
    display: flex;
    margin-left: 10%;
    p {
      width: 20%;
      font-size: 35px;
    }
    .turntable-mini {
      img {
        margin-top: -20px;
        width: 100px;
        height: 100px;
        transform: rotate(45deg);
        transform-origin: bottom left;
      }
    }
  }
  .turntable-container {
    display: flex;
    .main-turntable {
      position: relative;
      .play-icon {
        position: absolute;
        top: 289px;
        right: 273px;
      }
    }
    .main-arm {
      margin-top: 60px;
    }
  }
}
.players-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  .player-card-active {
    padding: 8px 0;
    box-shadow: 0 2px 4px lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;

    img {
      width: 50px;
      height: 60px;
      display: flex;
    }
    .data-player {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 10px;
      }
    }
  }
  .player-one {
    border-left: 5px solid #03a9f4;
  }
  .player-two {
    border-left: 5px solid #8bc34a;
  }
  .player-three {
    border-left: 5px solid #f44336;
  }
  .player-four {
    border-left: 5px solid #ffc107;
  }
}
.answer-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.96);
  display: flex;
  flex-direction: column;
  .answer-elements {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    p {
      text-align: center;
      font-size: 46px;
    }
    .title {
      display: flex;
      align-items: center;
      margin-left: 2%;
      p {
        padding-right: 20px;
      }
      button {
        width: 100px;
        height: 50px;
        border-radius: 200px;
        border: none;
        background: #10acb4;
      }
    }
  }
}
